<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/Index.css}" rel="stylesheet" />
    <link th:href="@{/css/form-style.css}" rel="stylesheet">
    

</head>
<body>
    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    </nav>
	    <!-- Page Content -->
    <div class="container">


      <h2 class="p-2">Actualizar Cargo</h2>
      <form class="form-horizontal" th:action="@{/cargos/update}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id_Cargo" th:value="${cargo.id_Cargo}">    
        <div class="form-group">
          <label class="control-label col-sm-2" for="nombre_Cargo">Nombre:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre_Cargo" name="nombre_Cargo" placeholder="Ingrese el nombre del cargo" required autocomplete="off" th:value="${cargo.nombre_Cargo}">
            <div id="prueba"></div>  
          </div>
        </div>
        

        <div class="row p-2">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-success"> Guardar</button>
          </div>             
        </div>

      </form>

    </div>
	

</body>
</html>