<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CARGO - SCE-ECOMMERCE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/Index.css}" rel="stylesheet" />

</head>
<body>

    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    
    </nav>

	<div class="container mt-4">
	
	  <div class="titulo">
	
  <h1>
  	Cargos
  </h1>
    <a class="btn btn-primary" th:href="@{/cargos/create}" >+ Crear Cargo</a>
  
  </div>
  
  
  
    
   <div class="count">
            <p class="mb-4">Listado de Cargos</p>
  <p>Items :      <span th:text="${#lists.size(cargos)}"></span>
  </p>
  
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
      	<th>Id</th>
        <th scope="col">Nombre</th>
         <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cargo:${cargos}">
        <td th:text="${cargo.id_Cargo}"></td>
        <td th:text="${cargo.nombre_Cargo}"></td>
        <td><a  class="btn btn-warning" th:href="@{/cargos/edit/{id} (id=${cargo.id_Cargo}) }">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{/cargos/delete/{id} (id=${cargo.id_Cargo}) }">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>


</body>
</html>