<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/Index.css}" rel="stylesheet">
</head>
<body>

	<div class="container">

  <nav class="navegations">
  <img class="logoSlidebar" th:src="@{images/LogoSCE.png}" alt="Logo" />
    <div class="navitems" th:include="home/navigations.html::header"></div>
    
  </nav>


  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
    <li class="breadcrumb-item active">Ver Cargo</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/cargos/create}" > Crear Cargo</a>
  <h2>Cargo</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
         <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cargos:${cargo}">
        <td th:text="${cargos.nombre_Cargo}"></descripciontd>
        <td><a  class="btn btn-warning" th:href="@{cargos/edit/{id} (id=${cargos.id}) }">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{cargos/delete/{id} (id=${cargos.id}) }">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>


</body>
</html>