<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/Index.css}" rel="stylesheet">
        <link th:href="@{css/Index.css}" rel="stylesheet" />

</head>
<body>

    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    
    </nav>

	<div class="container">
  <h1 class="mt-4 mb-3">
    Spring EcommerceSCE <small>	Cargos</small>
  </h1>

  <a class="btn btn-primary" th:href="@{/cargos/create}" > Crear Cargo</a>
  <h2>Cargo</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
         <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cargo:${cargos}">
        <td th:text="${cargo.nombre_Cargo}"></td>
        <td><a  class="btn btn-warning" th:href="@{/cargos/edit/{id} (id=${cargo.id_Cargo}) }">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{/cargos/delete/{id} (id=${cargo.id_Cargo}) }">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>


</body>
</html>