<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/heroic-features.css}" rel="stylesheet">
        <link th:href="@{css/Index.css}" rel="stylesheet" />

</head>
<body>
    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    
    </nav>

  
	<div class="container">

  <h1 class="mt-4 mb-3">
    Spring EcommerceSCE <small>	Pedidos</small>
  </h1>

  <a class="btn btn-primary" th:href="@{/pedidos/create}" > Crear Pedido</a>
  <h2>Pedidos</h2>
<tbody>
  <tr th:each="pedido : ${pedidos}">
    <td>
      <ul>
        <li th:each="producto : ${pedido.productos}" 
            th:text="${producto.nombre}"></li>
      </ul>
    </td>
    <td th:text="${pedido.cliente.nombre}"></td>
    <td th:text="${pedido.usuario.nombreUsuario}"></td>
    <td th:text="${pedido.cotizacion.id_Cotizacion}"></td>
    <td th:text="${pedido.fecha_Pedido}"></td>
    <td><a class="btn btn-warning" th:href="@{/pedidos/edit/{id}(id=${pedido.id_Pedido})}">Editar</a></td>
    <td><a class="btn btn-danger" th:href="@{/pedidos/delete/{id}(id=${pedido.id_Pedido})}">Eliminar</a></td>
  </tr>
</tbody>


</div>

</body>
</html>