<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PEDIDOS  - SCE-ECOMMERCE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/Index.css}" rel="stylesheet" />
</head>

<body>
  <nav class="navegations">
    <div class="navitems" th:include="home/navigations.html :: header"></div>
  </nav>

  <div class="container mt-4">
  
   <div class="titulo">
    <h1>
      Pedidos
    </h1>
        <a class="btn btn-primary mb-3" th:href="@{/pedidos/create}">+ Crear Pedido</a>
    </div>
    
    
  <div class="count">
            <p class="mb-4">Listado de Pedidos</p>
  <p>   Items :   <span th:text="${#lists.size(pedidos)}"></span>
  </p>
  
  
  </div>


    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        <th>Id</th>
          <th>Productos</th>
          <th>Cliente</th>
          <th>Usuario</th>
          <th>Cotización</th>
          <th>Fecha</th>
          <th colspan="2" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pedido : ${pedidos}">
          <!-- Productos del pedido -->
                    <td th:text="${pedido.id_Pedido}"></td>
          
          <td>
            <ul>
             <li th:each="producto : ${pedido.productos}" 
    th:text="${producto.nombre_Producto}"></li>
     </ul>
          </td>

          <!-- Cliente -->
          <td th:text="${pedido.cliente != null ? pedido.cliente.nombre_Cliente : 'Sin cliente'}"></td>

          <!-- Usuario -->
          <td th:text="${pedido.usuario != null ? pedido.usuario.nombre_Usuario : 'Sin usuario'}"></td>

          <!-- Cotización -->
          <td th:text="${pedido.cotizacion != null ? pedido.cotizacion.id_Cotizacion : 'Sin cotización'}"></td>

          <!-- Fecha -->
          <td th:text="${pedido.fecha_Pedido}">Fecha</td>

          <!-- Acciones -->
          <td class="text-center">
            <a class="btn btn-warning btn-sm"
               th:href="@{/pedidos/edit/{id}(id=${pedido.id_Pedido})}">
              Editar
            </a>
          </td>
          <td class="text-center">
            <a class="btn btn-danger btn-sm"
               th:href="@{/pedidos/delete/{id}(id=${pedido.id_Pedido})}">
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
