<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/heroic-features.css}" rel="stylesheet">
        <link th:href="@{css/Index.css}" rel="stylesheet" />

</head>
<body>
    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    
    </nav>

  
	<div class="container">

  <h1 class="mt-4 mb-3">
    Spring EcommerceSCE <small>	Pedidos</small>
  </h1>

  <a class="btn btn-primary" th:href="@{/pedidos/create}" > Crear Pedido</a>
  <h2>Pedidos</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Productos</th> 
        <th scope="col">Nombre de Cliente</th>
        <th scope="col">Id Usuario</th>
        <th scope="col">Nro Cotización</th>
        <th scope="col">Fecha</th>
         <th scope="col">Acción</th>
        <th scope="col">Acción</th>
        
      </tr>
    </thead>
    <tbody>
      <tr th:each="pedidos:${pedido}">
        <td th:text="${pedidos.productos}"></descripciontd>
        <td th:text="${pedidos.cliente}"></descripciontd>
        <td th:text="${pedidos.usuario}"></descripciontd>
        <td th:text="${pedidos.cotizacion}"></descripciontd>
        <td th:text="${pedidos.fecha_Pedido}"></descripciontd>
        <td><a  class="btn btn-warning" th:href="@{pedidos/edit/{id} (id=${pedidos.id}) }">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{pedidos/delete/{id} (id=${pedidos.id}) }">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>

</body>
</html>