*{
    text-decoration: none;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;

}



.navegations{
    display: flex;
    height: 60px;
    border-bottom: 1px solid #d3d3d3;
    background: #007bff;
    width: 100%

}


.botonera{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.navitems{
    display: flex;
    align-items: right;
    gap: 10px;
    flex: 1;

}

.btnSlidebar{
	color:white;
	    height: 100%;
	    width: 10%;
	    display:flex;
	    align-items: center;
	    justify-content: center;
	
}
.btnSlidebar:hover{
	background-color: white;
	color: black;
	
}

.logoSlidebar{
    height: 120px;
}

.catalogo-productos {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
}

.btn{
  padding: 5px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}

.btn-primary{
  background-color: #007bff;
  color: white;
}


.productosContainer{

    background-color: #007bff;
  border: 1px solid #d3d3d3;
  
    }
    
    
.productoImg{
    width: 180px;
     
  }
    
    
    .bienvenida{
    display:flex;
    }
    
    
    .footerapp{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #d3d3d3;
    height:50px;
    }
    
    
    
    
    
    
    
    
    
    