*{
    text-decoration: none;
}

a{
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    height: 100vh;

}



.navegations{
    display: flex;
    height: 60px;
    border-bottom: 1px solid #d3d3d3;
    background: #55769E;
    width: 100%

}


.botonera{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.navitems{
    display: flex;
    align-items: right;
    gap: 10px;
    flex: 1;

}

.btnSlidebar{
	color:white;
	    height: 100%;
	    width: 10%;
	    display:flex;
	    align-items: center;
	    justify-content: center;
	
}
.btnSlidebar:hover{
	background:  linear-gradient(135deg, #d7c5ff, #b8e1ff);
	color: black;
	  text-decoration: underline;
  text-decoration-color: #c8a2f3; /* 💜 color del banner */
  text-decoration-thickness: 4px;
	
	
}

.logoSlidebar{
    
    width: 250px;
    margin-right: 10px;
}


.bienvenida{
	display:flex;
	height: 220px;
    background: linear-gradient(135deg, #d7c5ff, #b8e1ff);
    color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px 2px rgba(0,0,0,0.3);
    letter-spacing: 3px;
    font-size: 1.5rem;
    line-height: 1.4;
    justify-content: center;
    align-items: center;        /* centra verticalmente */
    text-align: center;  
  

}

.texto_bienvenida{
	display:flex;
	flex-direction: column;
	font-weight: bold;
	
	
	
}
.titulo_producto{
	margin: 15px 0;
	text-align: center;
}

.catalogo-productos {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 20px;
    justify-content: space-between;
    
}

.productos{
	  cursor: pointer;
	  background-color: white;
	  border: 1px solid rgba(0, 0, 0, 0.1); /* borde negro muy suave */
	  box-shadow: 0 3px 5px 2px rgba(0,0,0,0.3);
	  border-radius: 12px;
	  padding: 30px;
	  width: 30%;
	  height: 480px;
	  transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
	  
}


.productos:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(55, 54, 54, 0.5);
}

.formularioprod {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.formularioprod > * {
  flex: 1; /* cada hijo toma el mismo espacio disponible */
}



.listaprod{
  min-height: 400px;
}
.sub_titulo{
	padding-top:10px;
	font-weight: bold;
	color:#55769E;
}

.precio{
	
	background: linear-gradient(135deg, #d7c5ff, #b8e1ff);
	padding: 10px;
	font-weight: bold;
	text-decoration: underline;
    text-decoration-color: #c8a2f3; /* 💜 color del banner */
    text-decoration-thickness: 4px;
    width:230px;
     border-radius: 5px;

}


.btn{
  padding: 5px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary{
  background-color: #007bff;
  color: white;
}


.productosContainer{

    background-color: #007bff;
  border: 1px solid #d3d3d3;
  
    }
    
    
.productoImg{
	 width: 220px;
	 height: 200px;
	
	 
  }
    
    
    .bienvenida{
    display:flex;
    }
    
    
    .footerapp{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #d3d3d3;
    height:50px;
    }
    
    .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px
    
    
    }
    .titulo h1{
    flex:1;
    
    }
    
    
    .count{
        display: flex;
    align-items: center;
    justify-content: space-around;
height: 40px;
width: 100%;;
    }
    
        .count p{
        display :flex}
    .count p:nth-child(1){
        flex: 1;
    }
    
    .count span{
    content:'Items:';
    height: 30px;
    width: 30px;
    background-color: #efefef;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
        
    }
    
    
    
    /* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
body {
  scrollbar-gutter: stable; /* evita que el contenido salte */
}

::-webkit-scrollbar {
  width: 8px; /* grosor */
}

::-webkit-scrollbar-track {
  background: transparent; /* fondo invisible */
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3); /* color del scroll */
  border-radius: 10px; /* bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}
    
 
    