<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/heroic-features.css}" rel="stylesheet">
        <link th:href="@{css/Index.css}" rel="stylesheet" />

</head>
<body>
    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    
    </nav>

<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring EcommerceSCE <small>	Producto</small>
  </h1>



  <a class="btn btn-primary" th:href="@{/productos/create}" > Crear Producto</a>
  <h2>Producto</h2>


</div>

</body>
</html>