<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>COTIZACION  - SCE-ECOMMERCE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/Index.css}" rel="stylesheet" />

</head>
<body>
    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    </nav>
<div class="container mt-4">


  
  <div class="titulo">
  
    <h1>
  	Cotizaciones
  </h1>
    <a class="btn btn-primary" th:href="@{/cotizacion/create}" >+ Crear Cotización</a>  
  </div>
  
  
     <div class="count">
     
    <p class="mb-4">Listado de Cotización</p>
     <p>  Items :  <span th:text="${#lists.size(cotizaciones)}"></span>
     </p>
         </div>

  <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
  </div>

<table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">ID</th>
         <th scope="col">NUMERO DE COTIZACION</th>
        <th scope="col">FECHA DE COTIZACION</th>
                      <th>EDITAR</th>
                <th>ELIMINAR</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="cotizaciones:${cotizaciones}">
        <td th:text="${cotizaciones.id_Cotizacion}"></td>
                <td th:text="${cotizaciones.num_Cotizacion}"></td>
        
                <td th:text="${cotizaciones.fecha_Cotizacion}"></td>
        
        <td><a  class="btn btn-warning" th:href="@{/cotizacion/edit/{id} (id=${cotizaciones.id_Cotizacion}) }">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{/cotizacion/delete/{id} (id=${cotizaciones.id_Cotizacion}) }">Eliminar</a> </td>
      </tr>       
    </tbody>


<thead>



</thead>







</table>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>