<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/heroic-features.css}" rel="stylesheet">
</head>
<body>

	<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring EcommerceSCE <small>	Cotización</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Ver Cotización</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/cotizaciones/create}" > Crear Cotización</a>
  <h2>Cotización</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th> 
        <th scope="col">Numero de cotización</th> 
         <th scope="col">Acción</th>
        <th scope="col">Acción</th>
        
      </tr>
    </thead>
    <tbody>
      <tr th:each="cotizaciones:${cotizacion}">
        <td th:text="${cotizaciones.fecha_Cotizacion}"></descripciontd>
        <td th:text="${cotizaciones.num_Cotizacion}"></descripciontd>
        <td><a  class="btn btn-warning" th:href="@{cotizaciones/edit/{id} (id=${cotizaciones.id}) }">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{cotizaciones/delete/{id} (id=${cotizaciones.id}) }">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>
	
	

</body>
</html>