<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/Index.css}" rel="stylesheet">
</head>
<body>

<div class="contenedorBody">
<nav class="navegations" >

</nav>

<div class="mainView">

<div class="slideBar">

    <div class="headLogo">
        <img class="logoSlidebar" th:src="@{images/LogoSCE.png}" alt="Logo SCE">
    </div>
    <div class="botonera">
    <a class="btnSlidebar" href="#">Cotizacion</a>
    <a class="btnSlidebar" href="#">Pedidos</a>
    <a class="btnSlidebar" href="#">Clientes</a>
    <a class="btnSlidebar" href="#">Productos</a>
    <a class="btnSlidebar" href="#">Proveedores</a>
    </div>


</div>
<div class="contentView">
    
</div>



</div>




</div>
</body>
</html>