<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/Index.css}" rel="stylesheet" />


</head>
  <body>
    <nav class="navegations">
      <div class="navitems" th:include="home/navigations.html::header"></div>
    
    </nav>
  

    <main class="container mt-4">
      <div class="bienvenida">
                <img class="logoSlidebar" th:src="@{images/LogoSCE.png}" alt="Logo" />
      <div class="texto_bienvenida">
            <h1 >Bienvenido a Torque-G46 Ecommerce</h1>
      <p>Tu plataforma confiable de productos de ferreteria.</p>
      
      <div>
      </div>
      </div>
    
    </div>
    
    
    
    <div>
      <h3 class="titulo_producto">Nuestros principales productos:</h3>
      </div>
      <div>
      <section class="catalogo-productos">
        <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoA.webp}" alt="prod">
          <p class="sub_titulo">TARUGO PLASTICO NARANJA 3/8</p>
          <p>Accesorios de alta calidad ideales para carpintería y construcción</p>
          <p class="precio">S/. 1.20</p>
          </div>
        </div>
        
        
                <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoB.webp}" alt="prod">
          <p class="sub_titulo">TORNILLO SPACK 3 X 16 MM (10PCS)</p>
          <p>Diseñado para fijaciones seguras en maderas y otros materiales </p>
           <p class="precio">S/. 3.00</p>
        </div>
        </div>
        
        
                <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoC.webp}" alt="prod">
          <p class="sub_titulo">LLAVE DE GRIFERIA 18 EN 1 MULTIFUNCIONAL</p>
          <p>Para tener una mayor eficiencia en baños y cocinas, tubo de abasto y griferia</p>
           <p class="precio">S/. 35.00  </p>
        </div>
        </div>
        
        
        <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoD.webp}" alt="prod">
          <p class="sub_titulo">TUERCA MILIMETRICA M6 (10PCS)</p>
          <p>Se utiliza para unir tornillos de la misma medida en metálica y mobiliario</p>
           <p class="precio">S/. 0.90</p>
        </div>
        </div>

      </section>
    <section class="catalogo-productos">
        <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoE.webp}" alt="prod"></div>
        <div>
          <p class="sub_titulo">COMPRESORA DE AIRE WERKEN</p>
          <p>Tiene un conector regular, cable de 1.5 metros ideal para múltiples aplicaciones </p>
           <p class="precio">S/. 280</p>
        </div>
        </div>
        
        
                <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoF.webp}" alt="prod"></div>
        <div>
          <p class="sub_titulo">CINCEL PUNTA 3/4 MAJOR 1UND</p>
          <p>Es una herramienta ideal de albañilería segura y resistente para trabajos de construcción</p>
           <p class="precio">S/. 2.30</p>
        </div>
        </div>
        
        
                <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoG.webp}" alt="prod"></div>
        <div>
          <p class="sub_titulo">TALADRO PERCUTOR 1/2  STANLEY</p>
          <p>Te ofrece un diseño reversible y empuñadura anti-vibración garantizan un uso seguro</p>
           <p class="precio">S/. 549.90</p>
        </div>
        </div>
        
        
        <div class="productos" id="productosContainer">
        <div><img class="productoImg" th:src="@{images/productoH.webp}" alt="prod"></div>
        <div>
          <p class="sub_titulo">FORNEY EASY WELD 261 SOLDADORA</p>
          <p>Es ideal para proyectos de  reparación y fabricación de metales</p>
           <p class="precio">S/. 699.99</p>
        </div>
        </div>

      </section>
      </div>
    
    </main>



    <footer class="footerapp">
      <p>&copy; 2024 SCE Ecommerce. Todos los derechos reservados.</p>
      <p></p>
    </footer>
  </body>
  

</html>
